.flex{
    display: flex;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: aall .3s ease;
}

.btn-primary{
    background-color: var(--primary);
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--pure);
}
.btn-secondary:hover{
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--dark);
}
.btn-ternary{
    background-color: var(--primary);
    border: 2px solid var(--dark);
}
.btn-ternary:hover{
    background-color: var(--dark);
    border: 2px solid var(--primary);
    color: var(--light);
}

.flex-1{
    flex: 1;
}

